@import 'variables';

.home {
  padding: 2rem 6rem;
  @media #{$mobile} {
    padding: 1em;
  }
}

.auth-alert {
  padding: 1em;
  font-weight: 500;

  code {
    font-weight: bold;
  }

  a {
    color: inherit;
    text-decoration: underline;
  }
}